@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Blinker:wght@600&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,300&family=League+Spartan:wght@500;600;700&family=Manrope:wght@400;500&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700;1,800&family=Roboto:ital,wght@0,500;1,400&family=Rubik:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body,
html {
  @apply w-full h-full bg-neutralCustom-Magnolia font-ubuntu;
}

main {
  @apply w-screen   flex justify-center items-center max-[786px]:h-full h-screen;
}

.main-content {
  @apply w-[90%] grid grid-cols-12 grid-rows-1  h-[90%] rounded-lg space-x-6 min-[767px]:bg-white;
}

aside {
  @apply max-[766px]:bg-sideBarMobile bg-sideBarDesktop bg-no-repeat mt-4 ml-4 bg-[100%] bg-cover  rounded-lg max-[766px]:col-span-12 col-span-4 row-span-1 h-[95%];
}

.body {
  @apply max-[766px]:col-span-12 col-span-8 row-span-1 h-[95%];
}

.personal {
  @apply flex justify-center mt-4  h-full max-[766px]:bg-white;
}

.personal-content {
  @apply w-[90%] space-y-9 flex flex-col relative;
}

.form-container input {
  @apply border border-solid border-neutralCustom-coolGray py-3 rounded-lg;
}

form{
  @apply space-y-5
}

form label{
  @apply text-primaryCustom-marineBlue font-medium;
}

::placeholder {
  @apply ml-1;
}

.next-button {
  @apply text-white bg-primaryCustom-marineBlue rounded-lg p-3 font-medium;
}

.button-container{
  @apply  absolute bottom-0 flex w-full justify-end;
  flex-grow: 1;
}

header h1{
  @apply text-primaryCustom-marineBlue font-bold text-3xl
}

h2{
  @apply font-medium text-neutralCustom-coolGray
}

.inner-list-container{
  @apply flex space-x-6;
}

.list-container{
  @apply mt-6 ml-5 min-[767px]:space-y-7 flex max-[766px]:flex-row  min-[767px]:flex-col max-[766px]:justify-center max-[766px]:space-x-5
}

.step-value{
  @apply border-[1.4px] border-neutralCustom-Magnolia rounded-full border-solid w-[50px] h-[50px] flex justify-center items-center hover:cursor-pointer hover:bg-primaryCustom-lightBlue text-white font-medium hover:text-black
}
.step{
  @apply text-neutralCustom-lightGray font-thin
}

.step-title{
  @apply font-bold text-white
}

.step-title-container{
  @apply max-[766px]:hidden
}